# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\A706980.WW930\OneDrive - Atos\Desktop\thunder-addon\GenerateAutomatedEMail-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
